#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #fff;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  border-radius: 8px;
}

.apptitle {
  font-size: 2em;
  margin-bottom: 1em;
  color: #3bb5e9
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 40vw;
}

.card {
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60%;
}

